<!-- <div class="container-fluid" style="padding:0; margin: 0;">
   <template ngbModalContainer></template>
</div>
<br/>
<hr>
<div class="container-fluid">
  <div class="row">
    <strong class="float-left">Timer</strong>
  </div>
  <hr>
  <div class="row">
    Counter: <span [innerHtml]="_counter"></span>
  </div>
  
  <div class="row">
    Session Status: <span [innerHtml]="_status"></span>
  </div>
  
    <div class="row">
    <button (click)="reset()">Reset</button>
  </div>
</div> -->
<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <alert></alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>